<div>
    <strong><%= @project.title %></strong>
</div>

<div>
    <strong><%= @project.link %></strong>
</div>

<div>
  <% if signed_in? %> 
    <%= link_to "Edit", edit_cohort_project_path(@cohort, @project) %>
    <%= link_to "Delete", cohort_project_path(@cohort, @project), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</div>
